*{ padding: 0; margin: 0;}
/*navbar*/
.navbar{
    width: 100%;
background-color: #1c3879;
display: flex;
justify-content: space-between;
}
.navbar .div1{ display: flex; color: #97d2ec; margin: 30px;}
.div1 h1{
    margin-top: -15px;
    padding-left: 10px;
    text-transform: capitalize;
    font-size: 30px;
}
.div1 i{ margin-top: -10px; font-size: 30px;}
.div2{ margin-top: 30px; margin-left: 100px;}
 .div2 ul{ display: flex; list-style: none;}
.div2 ul li{
    padding-left: 30px;
    text-transform: capitalize;
    font-size: 20px;
    text-transform: capitalize;
}
.div2 ul li a{text-decoration: none; color: white;}
.div2 ul li a:hover{ color: #97d2ec ;}
.div3{margin-top: 15px;margin-right:100px;}
.div3 button{
    border: 2px solid #0096ff;
    border-radius: 30px;
     padding: 10px 10px;
     background-color: #0096ff;
     color: white;
     text-transform: capitalize;
     font-size: 20px;
}
.div3 button:hover{
    border-color: #97d2ec;
    background-color: #97d2ec;
}
.sec4{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 100px;
    position: relative;
}
.sec4 h1{
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
    padding-top: 100px;
}
span{
    color: #0096ff;
    text-decoration: underline;
}
.sec4 p{
    font-size: 30px;
    color: #9e9c98;
    margin-bottom: 20px;
    width: 50%;
    padding-bottom: 20px;
}
.sec4 .speaker1 img{
    width: 600px;
    position: absolute;
    top: 20%;
    left: 56%;
}
.child{
    width: 30%;
    position: absolute;
    top: 350px;
    left: 58%;
}
.speaker1 .child{
    background-color: white;
    border-left: 5px solid #0096ff;
    padding-left: 10px;
}
.speaker1 .child h4{ font-size: 20px;
    text-transform: capitalize;
}
.speaker1 .child p{ font-size: 15px;
    text-transform: uppercase;
}
.sec5{ 
    display: flex;
    margin-top: 300px;
    margin-bottom: 100px;
    position: relative;
}
.sec5 img{width: 350px;}
.sec5 h4{font-size: 20px; text-transform: capitalize;}
 .sec5 p{
    color: #9e9c98;
    font-size: 15px;
    text-transform: uppercase;
}  
.speaker2{margin-left: 35px;}
.child2{
    width: 15% ;
    background-color: white;
    border-left: 5px solid #0096ff;
    padding-left: 10px;
    position: absolute;
    top: 170px;
    left: 60px;
    padding-bottom: 20px;
}
.speaker3{margin-left: 10px;}
.speaker3 .child3{
    width: 15% ;
    background-color: white;
    border-left: 5px solid #0096ff;
    padding-left: 10px;
    position: absolute;
    top: 170px;
    left: 430px;
    padding-bottom: 20px;
}
.speaker4{ margin-left: 10px;}
.child4{
    width: 15% ;
    background-color: white;
    border-left: 5px solid #0096ff;
    padding-left: 10px;
   position: absolute;
   top: 170px;
   margin-left: 20px;
   padding-bottom: 20px;
}
.speaker5{ margin-left: 10px;}
.child5{
    width: 20% ;
    background-color: white;
    border-left: 5px solid #0096ff;
    padding-left: 10px;
  position: absolute;
  top: 170px;
  margin-left: 20px;
  padding-bottom: 20px;
}
.sec12 .icons{
    display: flex;
   margin: 50px;
}
.icons h1{
    margin-top: -15px;
    padding-left: 50px;
    text-transform: capitalize;
    font-size: 30px;
    color: #0096ff;
}
.icons ul{
    display: flex;
    margin-left: 120vh;
    list-style: none;
}
.icons ul li{
    font-size: 20px;
     padding-left: 30px;
}
.sec13{
    display: flex;
   
    margin:100px;
}
.div12 ul{
    display: flex;
    list-style: none;
}
.div12 ul li a{
    color: #9e9c98;
    font-size: 20px;
    padding-left: 30px;
    text-transform: capitalize;
    text-decoration: none;
}
.div12 ul li a:hover{
    color: #0096ff;
}
.copy{
    margin-left: 300px;
    width: 300px;
}
.copy p{
    font-size: 20px;
    color: #9e9c98;
    text-transform: capitalize;
}
.copy h6{
    font-size: 20px;
    text-transform: capitalize;
    color: #9e9c98;
}
